<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="JsonPath" value="D:\VS專案\Git\JsonAuthFileProcess\TestDoc" />
    <add key="LogPath" value="D:\VS專案\Git\JsonAuthFileProcess\LOG" />
    <add key="MainMenuPath" value="D:\VS專案\Git\JsonAuthFileProcess\TestDoc\MainMenu.json" />
  </appSettings>
</configuration>